<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/asokan/Documents/GitHub/reseller_android_ui_automation/webui/src/test/java/practice/ResellerWebTesting.java">
        <classes>
            <class name="practice.ResellerWebTesting">
                <methods>
                    <include name="print"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>